# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Build/*.o

# Compiled WebAssembly files
cwg.html
cwg.data
cwg.wasm
cwg.js

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cwg
cwg-opt
cwg-dbg

# Emacs
*~

# git token
git.token